body {
  background-color: bisque;
}
.App {
  background-color: bisque;
  background-size: contain;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}
h1 {
  color: rgb(37, 133, 144);
  text-shadow: 1px 1px 2px rgb(238, 172, 5);
  font-size: 52px;
  font-weight: bold;
}
h1, p, button {
  font-family: 'Zen Loop', cursive;
}
.container {
  display: flex;
  justify-content: center;
}
.box {
  display: flex;
  justify-content: space-around;
}
.block {
  filter: drop-shadow(20px 20px rgb(88, 131, 135));
  opacity: 0.8;
}
img {
  width: 500px;
  height: 630px;
}
.tips {
  margin-top: 140px;
}
p {
  font-size: 44px;
  font-weight: bold;
}
button {
  font-size: 32px;
  margin-left: 40px;
}
@media all and (max-width:700px) {
  .box {
    display: flex;
    flex-direction: column-reverse;
  
  }
  img {
    width: 400px;
    height: 550px;
  }
  .box {
    width: 400px;
  }
  .tips {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 10px;
    margin-left: 20px;
  }
  button {
    font-size: 22px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
}
